@page
@model IndexModel
@{
    ViewData["Title"] = "Editor Demo";
}
<h1>Rich Text Editor Demo</h1>
<form method="post">
    <textarea id="notes" name="notes" rows="10"></textarea>
    <p><button type="submit">Submit</button></p>
</form>
@section Scripts {
<link rel="stylesheet" href="/_content/EdNotes.RichText/editor/editor.css" />
<script type="module">
  import { RichText } from '/_content/EdNotes.RichText/editor/ednotes.richtext.bundle.js';
  RichText.attach('#notes');
</script>
}
